<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.comments.nav_item.text'), admin_comments_path) %>
  <span>
    <%= @entity.id %> (<%= @entity.commentable.model_name.human %>
    <cite><%= @entity.commentable_title %></cite>)
  </span>
<% end %>

<article>
  <h1><%= @entity.commentable_title %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_comments_path) %></li>
    <% unless @entity.deleted? %>
      <li><%= world_icon(CommentsManager.commentable_path(@entity, true)) %></li>
    <% end %>
    <% unless @entity.locked? %>
      <li><%= edit_icon edit_comment_path(id: @entity.id) %></li>
    <% end %>
  </ul>

  <% if @entity.deleted? %>
    <div class="message-box-alert"><%= t(:deleted_entity) %></div>
  <% end %>

  <dl>
    <dt><%= t('activerecord.attributes.comment.user_id') %></dt>
    <dd><%= admin_user_link(@entity.user) %></dd>

    <% unless @entity.author_name.blank? %>
      <dt><%= t('activerecord.attributes.comment.author_name') %></dt>
      <dd><%= @entity.author_name %></dd>
    <% end %>

    <% unless @entity.author_email.blank? %>
      <dt><%= t('activerecord.attributes.comment.author_email') %></dt>
      <dd><%= @entity.author_email %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.comment.commentable') %></dt>
    <dd><%= comment_link(@entity) %></dd>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t('activerecord.attributes.comment.body') %></dt>
    <dd>
      <div class="text">
        <%= simple_format(@entity.body) %>
      </div>
    </dd>
  </dl>
</article>
