<% element_id = "comment-#{comment.id}" %>
<div
  id="<%= element_id %>"
  itemscope
  itemtype="http://schema.org/Comment"
  class="comment-item"
  data-id="<%= comment.id %>"
>
  <% if comment.deleted? || comment.user&.deleted? %>
    <div class="deleted"><%= t('.deleted') %></div>
  <% else %>
    <meta itemprop="url" content="<%= url_for(anchor: element_id) %>"/>
    <% if current_user_has_privilege?(:moderator) %>
      <ul class="actions">
        <li><%= edit_icon(edit_comment_path(id: comment.id)) %></li>
        <li class="danger"><%= destroy_icon(comment) %></li>
      </ul>
    <% end %>

    <div class="meta">
      <div class="avatar">
        <%= user_image_preview(comment.user) %>
      </div>
      <div class="info">
        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            <%= comment.user.nil? ? comment.author_name : user_link(comment.user) %>
          </span>
        </div>
        <%= time_tag comment.created_at %>
      </div>
    </div>

    <div class="body" itemprop="about">
      <%= simple_format(comment.body) %>
    </div>

    <% if show_container %>
      <div class="comment-reply-block">
        <div class="comment-reply-button">
          <button></button>
        </div>
        <div class="container hidden">
          <button class="cancel" type="button"><%= t('.cancel_reply') %></button>
        </div>
      </div>
    <% end %>

    <% if Gem.loaded_specs.key?('biovision-vote') %>
      <%= render(partial: 'votes/vote_block', locals: { votable: comment }) %>
    <% end %>
  <% end %>

  <% children = comment_tree.select { |_, item| item[:parent_id] == comment.id } %>
  <% if children.any? %>
    <div class="children">
      <% children.each do |_, item| %>
        <%=
          render(
              partial: 'comments/comment',
              locals: {
                  comment: item[:comment],
                  show_container: show_container,
                  comment_tree: comment_tree
              }
          )
        %>
      <% end %>
    </div>
  <% end %>
</div>
