<div id="comment-<%= comment.id %>" itemscope itemtype="http://schema.org/Comment" class="comment">
  <% if comment.deleted? %>
      <div class="deleted"><%= t('.deleted') %></div>
  <% else %>
      <meta itemprop="url" content="<%= comment_url comment %>"/>
      <div class="author">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name"><%= user_link comment.user %></span>
        </span>
        <%= time_tag comment.created_at %>
      </div>

      <div class="body" itemprop="about">
        <%= prepare_comment_text(comment) %>
        <% if UserPrivilege.user_has_privilege?(current_user, :moderator) %>
            <ul class="actions">
              <li><%= edit_icon(edit_comment_path(comment.id)) %></li>
              <li class="danger"><%= destroy_icon(comment) %></li>
            </ul>
        <% end %>
      </div>

      <%= render(partial: 'votes/vote_block', locals: { votable: comment }) if defined?(Biovision::Vote) %>
  <% end %>
</div>
