<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          class: 'comment-form',
          data: { check_url: check_comments_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>
  <div class="fields">
    <div class="required">
      <%= f.label :body %>
      <%=
        f.text_area(
            :body,
            id: "#{model_name}_body",
            required: true,
            cols: 60,
            rows: 5,
            maxlength: Comment::BODY_LIMIT,
            class: 'auto-expand',
            data: {
                min_rows: 5,
                max_rows: 30,
                check: :body
            }
        )
      %>
      <div class="check-result-error hidden" data-field="body"></div>
      <div class="guideline"><%= t('.guidelines.body') %></div>
    </div>
    <% if entity.id.nil? && entity.user.nil? %>
      <div class="required">
        <%= f.label :author_name %>
        <%=
          f.text_field(
              :author_name,
              id: "#{model_name}_author_name",
              required: true,
              size: nil,
              maxlength: Comment::AUTHOR_LIMIT,
              data: {
                  check: :author_name
              }
          )
        %>
        <div class="check-result-error hidden" data-field="author_name"></div>
        <div class="guideline">
          <%= t('.guidelines.author_name') %>
        </div>
      </div>

      <div class="required">
        <%= f.label :author_email %>
        <%=
          f.email_field(
              :author_email,
              id: "#{model_name}_author_email",
              required: true,
              size: nil,
              maxlength: Comment::AUTHOR_LIMIT,
              data: {
                  check: :author_email
              }
          )
        %>
        <div class="check-result-error hidden" data-field="author_email"></div>
        <div class="guideline">
          <%= t('.guidelines.author_email') %>
        </div>
      </div>

      <div class="disclaimer">
        <%= check_box_tag :agree, '1', false, class: 'hidden', tabindex: '-1' %>
        <%= t('.disclaimer') %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :return_url, url_for %>
    <%= hidden_field_tag :entity_id, entity.id %>
    <% if entity.id.nil? %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :parent_id %>
    <% end %>
    <%= f.button t(:submit), type: 'submit', class: 'button-primary' %>
  </div>
<% end %>
