<div class="image">
  <%= profile_avatar(entity.user) %>
</div>
<div class="data">
  <div>
    <%= admin_comment_link(entity) %>

    <% if entity.deleted? %>
      (<%= t('activerecord.attributes.comment.deleted') %>)
    <% end %>
  </div>

  <div class="info">
    <%= entity.commentable_name %>
    (<cite><%= entity.commentable_title %></cite>)<br/>
    <%= admin_user_link(entity.user) %>,
    <%= time_tag entity.created_at %>
  </div>

  <div class="secondary info">
    <p><%= entity.preview %></p>
  </div>

  <% unless entity.approved? %>
    <div>
      <button class="js-approve-comment" data-url="<%= approve_admin_comment_path(id: entity.id) %>"><%= t('.approve') %></button>
      <button class="js-delete-comment" data-url="<%= admin_comment_path(id: entity.id) %>"><%= t(:delete) %></button>
    </div>
  <% end %>

  <ul class="actions">
    <li><%= edit_icon(edit_comment_path(id: entity.id)) %></li>
    <% unless entity.deleted? %>
      <li><%= world_icon(Biovision::Components::CommentsComponent.commentable_path(entity, true)) %></li>
      <li class="danger"><%= destroy_icon(entity) %></li>
    <% end %>
  </ul>
</div>
